/* Font Face --------------------------------- */

@font-face {
  font-family: Pretendard-Light;
  src: url('./fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Regular;
  src: url('./fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Medium;
  src: url('./fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Bold;
  src: url('./fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: Pretendard-ExtraLight;
  src: url('./fonts/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: Unbounded-Light;
  src: url('./fonts/Unbounded-Light.ttf') format('woff');
}

/* Colours --------------------------------- */
:root {
  --text-color: #101010;
  --white-text-color: #fff;
  --background-color: #fff;
  --accent-color: #54be78;
}

/* Default --------------------------------- */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Structrue --------------------------------- */

.wrapper {
  width: 80%;
  margin: auto;
}

/* Nav --------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.nav_logo img {
  width: 120px;
}

.nav_menu {
  display: flex;
  font-family: Pretendard-Light;
  font-size: 15px;
  margin: 20px;
  padding-left: 0;
  padding-top: 3px;
}

.nav_menu li {
  margin: 22px;
  border-bottom: transparent solid 1px;
  padding-bottom: 4px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav_menu li a {
  color: var(--text-color);
  text-decoration: none;
}

.nav_menu li:hover {
  border-bottom: var(--accent-color) solid 1px;
}

.nav_menu a.active {
  border-bottom: transparent solid 1px;
  padding-bottom: 4px;
  border-bottom: var(--accent-color) solid 1px;
}

.nav_deco {
  margin-left: 90px;
}

.nav_deco img {
  width: 40px;
  margin-top: 20px;
}

/* Hamburger */

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 5%;
  font-size: 24px;
}

/* Hero --------------------------------- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 7rem 2rem 8rem 2rem;
}

.main_title {
  color: var(--text-color);
  text-align: center;
  font-family: Pretendard-ExtraLight;
  font-weight: 100;
  font-size: 22px;
  line-height: 145%;
  color: rgb(34, 36, 34);
}

.main_title span {
  font-family: Pretendard-Bold;
}

/* Project --------------------------------- */
.project_container {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.heading {
  font-family: Unbounded-Light;
  font-size: 16px;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.logo_container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.myLogos {
  width: 100%;
  text-align: center;
  border-radius: 6px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.row img {
  width: 100%;
}

.row .row_1 {
  padding-right: 1rem;
  border-radius: 6px;
}

.row .row_2 {
  padding-left: 1rem;
  border-radius: 6px;
}

/* Footer --------------------------------- */

.social_link,
.copyright {
  font-family: Pretendard-Regular;
  font-size: 12px;
  color: var(--text-color);
  display: block;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.4px;
}

.social_link svg {
  width: 24px;
  height: 24px;
  margin: 1rem;
}

.copyright {
  margin: 2rem;
}

.footer {
  margin: 2rem;
}

.mail path:hover {
  fill: #54be78;
}

.linkdin path:hover {
  fill: #0a66c2;
}

.behance path:hover {
  fill: blue;
  width: 24px;
  height: 24px;
}

/* Modal Images */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 72%); /* Black w/ opacity */
}

.top_fadeIn {
  animation-name: example;
  animation-duration: 2s;
  position: relative;
}

@keyframes example {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.bottom_fadeIn {
  animation-name: example2;
  animation-duration: 2s;
  position: relative;
}

@keyframes example2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .wrapper {
    width: 90%;
  }

  .hero {
    margin-top: 2rem;
    padding: 4rem 0rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .logo_container {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .row .row_1,
  .row .row_2 {
    padding: 0;
    padding-bottom: 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0px;
  }

  /* fixed nav bar */
  .navbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_logo {
    margin-left: 1rem;
  }

  .nav_menu li {
    width: 100%;
    text-align: center;
  }

  .nav_deco {
    display: none;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .nav_menu.active {
    display: flex;
    margin: auto;
    padding: 2rem;
    border-bottom: 1px solid #e2e2e2;
  }

  .navbar__dropdown {
    position: fixed;
    width: 100%;
    background-color: red;
    display: none;
  }
  .dropdown.active {
    display: flex;
    margin: auto;
    padding: 2rem;
    border-bottom: 1px solid #e2e2e2;
  }

  .nav_menu li:hover {
    border-bottom: 1px solid transparent;
  }

  .nav_menu a:hover {
    border-bottom: 1px solid var(--accent-color);
  }

  .mail path,
  .linkdin path,
  .behance path {
    fill: #101010;
  }

  /* modal */
  .modal-content {
    width: 80%;
  }
}
